

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

body, html {
    margin: 0;
    padding: 0;
  }
  

  .wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)),url('/static/images/bg.jpg') ;
    background-size: cover;
    z-index: -1;
    
  }
  
  .content {
    
align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 50px;
    /* border: 2px solid orange; */
    }
   


  .headerName {
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-weight: 550;
    letter-spacing: 0.3rem;


  }

  .headerDescription{
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-weight: 300;
    font-size: 20px;

  }
  
  @keyframes mymove {
    0% {font-size: 0px;}
    100%{font-size: 20px;}
  } 
  
  .run-animation{
    animation: mymove 2s backwards;
  }



.navbar{
    display: flex;
    flex-direction: column;
    
}

.shadow{
    background: radial-gradient(rgba(48, 45, 45, 0.5) 10%, rgba(53, 47, 47, 0.5) 20%, transparent 50%);
    
}


    


.vl_1 {
    border-left: 3px solid #c2c1c1;
    height: 30px;
}    

.vl_2 {
    height: 15px;
    width: 15px;
    background-color: #c2c1c1;
    border-radius: 50%;
    display: inline-block;
}    

.uiButtons  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color:  #c2c1c1;
    position:fixed;
    top:20px;
    right:20px;
    z-index: 1;
    
}

.vl_2 + .uiButtons button{
    margin:10px;
    }

.contactClass {
    height: 100%;
    width: 100%;
    padding: 7rem;
    display: flex !important; 
    justify-content: center;
    flex-direction: row !important;
    /* background-color: green; */
    column-count: 3;
    column-gap: 5px;
    column-rule-style: solid;
}

.email {
    vertical-align: middle;
    font-size: 25px;
    font-weight: 550;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;

}
.telephone {
    vertical-align: middle;
    font-size: 25px;
    font-weight: 550;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;


}

.socialmedia{
    vertical-align: middle;
    color: aliceblue;
}


ul li{
    list-style-type: none;
}

.about{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Sombra negra */
    background: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)) ;
    justify-content: center;

}
.about_tittle{
    font-weight: 600;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.education{
     align-items: center;
    justify-content: center;
    display: flex; 
    width: 90%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16.5px;
    color: aliceblue;
    border-radius: 25px;
    }

.eduparagraph{
    width: 50%;
    height: 70%;
    text-align: justify;
    padding: 20px;
}

.expparagraph{
    width: 50%;
    height: 70%;
    text-align: justify;
    padding: 20px;

}



.experience{
    width: 90%;
    padding: 75px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: aliceblue;
    }



.portafolio_tittle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: aliceblue;
    align-items: center ;
}

.subportafolio {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
    background: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)) ;
    width: 75vw;
    height: 75vh;  
}


.subcontent {
    border-radius: 25px;
    background: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)) ;
    width: 90%;
    height: 90%;
    margin: 30px;
    overflow-y: scroll;  
    overflow-x: hidden;  
}

.subcontent::-webkit-scrollbar{
    display: none;
}


.image1_1 {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 1;
    /* border:5px solid rgb(224, 83, 182) */
}

  .text {
    color: white;
    font-size: 30px;
    z-index: -1;
    

  }
  .middle{
    position: absolute;
    opacity: 0;
    transition: 0.6s;
    /* border: 5px solid blue; */
    transform: translate(5%, -250%);
  }
  .image1:hover .image1_1 {
    opacity: 0.3;
  }
  
 .image1:hover .middle {
    opacity: 1;
  }  
.contact_tittle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: aliceblue;
    align-items: center ;
}

.contactClass {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hero{
    padding: 50px;
}
form{
    width: 500px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
    background: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)) ;
}

.message-icon{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

.message-icon i{
    font-size: 40px;

}

.message-icon span{
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
    color: white;
}

form input,textarea{
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    outline: none;

}

#input-field{
    padding-bottom:20px;
    display:flex;
    align-items: center;
}

#input field i{
    font-size: 22px;
    margin-right: 15px;
}

.send-btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    border:none;
    background: linear-gradient(to top, rgba(8, 9, 10, 0.5), rgba(0, 0, 0, 0.5)) ;
    color: white;
    font-size: 16px;
    padding: 6px;
    border-radius: 50px;
}

.Contactinfo{
    padding: 18px;
    width: 30%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
    background: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)) ;
    border-radius: 10px;
}