{% extends 'project.html' %}
{% block modelname %}Ada boost{% endblock %}
{% block page_title %}Ada boost{% endblock %}

{% block preview %}
<div class="model_type mb-4" style="font-weight: bold;"> Unsupervised learning model </div> 
<li>
    Purpose: Ensemble method for boosting weak learners into a strong classifier.
</li>
<li>
    Applications: Applied in face detection, text categorization, and bioinformatics for feature selection.
</li>
{% endblock %}

{% block github %}https://github.com/Ajela13/Ada-boost{% endblock %}

