{% extends 'project.html' %}

{% block page_title %}K means clustering {% endblock %}
{% block modelname %}K means clusters{% endblock %}
{% block preview %}<div class="model_type mb-4" style="font-weight: bold;"> Unsupervised learning model </div> 
<li>
    Purpose: Unsupervised learning algorithm for partitioning data into k clusters.
</li>
<li>
    Applications: Used in customer segmentation, image compression, and anomaly detection.
</li> {% endblock %}

{% block github %} https://github.com/Ajela13/k-means{% endblock %}

{% block cvsDataName %}{% url 'download_kmeans_data' %}{% endblock %}