{% extends 'project.html' %}

{% block page_title %}K nearest neighbors {% endblock %}

{% block preview %}<div class="model_type mb-4" style="font-weight: bold;"> Supervised learning model </div> 
<li>
    Purpose: Classification or regression based on the majority class or average of k-nearest neighbors.
</li>
<li>
    Applications: Commonly used in recommendation systems, pattern recognition, and anomaly detection.
</li> {% endblock %}

{% block github %} https://github.com/Ajela13/k_nearest_neighbors {% endblock %}