{% extends 'project.html' %}
{% block modelname %}Logistic regression{% endblock %}
{% block page_title %}Logistic regression {% endblock %}

{% block preview %}<div class="model_type mb-4" style="font-weight: bold;"> Supervised learning model </div> 
<li>
    Purpose: Binary classification - predicting outcomes with two possible classes.
</li>
<li>
    Function: Uses the logistic function to transform a linear combination of input features into a probability.
</li> {% endblock %}
<li>
    Applications: Used in healthcare, finance, and marketing for tasks like disease prediction and customer churn analysis.
</li>

{% block github %} https://github.com/Ajela13/Logistic-regression{% endblock %}

{% block cvsDataName %}{% url 'download_logistic_data' %}{% endblock %}