{% extends 'project.html' %}
{% block modelname %}Random forest {% endblock %}
{% block page_title %}Random forest {% endblock %}

{% block preview %}<div class="model_type mb-4" style="font-weight: bold;"> Supervised learning model </div> 
<li>
    Purpose: Ensemble method for classification or regression, combining multiple decision trees.
</li>
<li>
    Applications: Widely used in finance, healthcare, and remote sensing for predictive modeling.
</li>{% endblock %}

{% block github %} https://github.com/Ajela13/Random-forest{% endblock %}

{% block cvsDataName %}{% url 'download_randomforest_data' %}{% endblock %}