{% extends 'project.html' %}
{% block modelname %}Ridge and lasso regression {% endblock %}

{% block page_title %}Ridge and lasso regression {% endblock %}

{% block preview %}<div class="model_type mb-2" style="font-weight: bold;"> Supervised learning model </div> 
Ridge Regression:
<li>
    Purpose: Regularized linear regression for mitigating multicollinearity and overfitting.
</li>
<li>
    Applications: Used in finance, economics, and biology where multicollinearity is common.
</li> 

Lasso Regression:
<li>
    Purpose: Regularized linear regression for feature selection and mitigating overfitting.
</li>

<li>
    Applications: Commonly used in genetics, signal processing, and machine learning when feature sparsity is desirable.
</li>
{% endblock %}
