{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="background"></div>
        <div class="shadow">
            <div id="home" class="content"> 
                <div class="uiButtons">
                    <button  id="homeButton" onclick="scrollToSection('home')" type="button" class="btn btn-outline-light" >Home</button>
                    <button onclick="scrollToSection('about')" type="button" class="btn btn-outline-light">About</button>
                    <button onclick="scrollToSection('portafolio')" type="button" class="btn btn-outline-light">Portafolio</button>
                    <button onclick="scrollToSection('contact')" type="button" class="btn btn-outline-light">Contact</button>
                </div>
                <header>
                    <nav class="navbar">
                        <h1 class="headerName">Alejandra Mariño Parra</h1>
                        <div class="vl_1"></div>
                        <h1 class="headerDescription">Welcome to Alejandra's homepage.
                        </h1>
                        <div class="vl_2"></div>  
                    </nav>
                </header>   
            </div>
        </div>
        <div class="about">
            <div id="about" class="content">
                <h2 class="about_tittle"> About</h2>
                <div  class="education">
                    <div class="eduparagraph">
                    <p style="font-size: larger;">Education:</p>
                    <p> I'm Alejandra Mariño Parra, hailing from the vibrant country of Colombia.  During my university years, I studied mathematics and acquired proficiency in Portuguese. I further honed my English skills during my time in the United States, reaching an advanced level of fluency. Spanish is my mother tongue.Currently, I'm also dedicated to expanding my knowledge in the fields of Machine Learning and Artificial Intelligence. </p>
                    </div>
                </div>
                
                <div  class="experience">
                    
                    <div class="timeLine">
                    <svg width="850" height="100">
                      <line x1="180" y1="50" x2="1350" y2="50" style="stroke:aliceblue; stroke-width:1.5"></line>
          
                      <circle cx="500" cy="50" r="10" stroke="aliceblue" stroke-width="6" fill="69b3a2"></circle>
                      <text font-size="13" text-anchor="middle" x="350" y="30" fill="aliceblue">Mathematics</text>
                      <text style="font-style: italic" font-size="13" text-anchor="middle" x="350" y="80" fill="aliceblue">District University Francisco José de Caldas</text>
          
                      <text font-size="13" text-anchor="middle" x="670" y="30" fill="aliceblue">Advance Data Science & Artificial intelligence</text>
                      <text style="font-style: italic" font-size="13" text-anchor="middle" x="670" y="80" fill="aliceblue">Skillslash</text>
        
                      
                      <text font-size="13" text-anchor="middle" x="930" y="30" fill="aliceblue">Data - Science - Viz</text>
                      <text style="font-style: italic" font-size="13" text-anchor="middle" x="930" y="80" fill="aliceblue">Sabbatical</text>
          
                    </svg>
                    </div> 
    
    
                </div>
                
            </div>
    
            <div id="about2" class="content">
                <div  class="education">
    
                    <div class="expparagraph">
                    <p style="font-size: larger;">Experience:</p>
                    <p>In addition to my academic background, I have practical experience in the world of data and analytics. I've worked with Matillion, a powerful data integration platform that helps organizations extract, transform, and load data into cloud-based data warehouses. I also have proficiency in Python and its libraries such as Pandas, Matplotlib, and NumPy, allowing me to perform data analysis and visualization efficiently. Additionally, I have experience with BigQuery, a versatile and scalable data warehouse by Google Cloud, which I've used to explore and analyze large datasets. While I've gained valuable experience in these areas, my current focus is on expanding my knowledge in Machine Learning and Artificial Intelligence. </p>
                    </div>
    
                </div>
                
                <div  class="experience">
                    
                     <div class="timeLine">
                        <svg width="850" height="100">
                          <line x1="180" y1="50" x2="1350" y2="50" style="stroke:aliceblue; stroke-width:1.5"></line>
              
                          <circle cx="380" cy="50" r="10" stroke="aliceblue" stroke-width="6" fill="69b3a2"></circle>
                          <text font-size="13" text-anchor="middle" x="280" y="30" fill="aliceblue">Data analyst intern</text>
                          <text style="font-style: italic" font-size="13" text-anchor="middle" x="280" y="80" fill="aliceblue">Kantar worldpanel</text>
              
                          <circle cx="630" cy="50" r="10" stroke="aliceblue" stroke-width="6" fill="69b3a2"></circle>
                          <text font-size="13" text-anchor="middle" x="510" y="30" fill="aliceblue">Real time analyst </text>
                          <text style="font-style: italic" font-size="13" text-anchor="middle" x="510" y="80" fill="aliceblue">Teleperformance</text>
              
                          <text font-size="13" text-anchor="middle" x="750" y="30" fill="aliceblue">Bussiness intelligence </text>
                          <text style="font-style: italic" font-size="13" text-anchor="middle" x="750" y="80" fill="aliceblue">skydropx</text>
            
                          
                          <text font-size="13" text-anchor="middle" x="930" y="30" fill="aliceblue">Data - Science - Viz</text>
                          <text style="font-style: italic" font-size="13" text-anchor="middle" x="930" y="80" fill="aliceblue">Sabbatical</text>
              
                        </svg>
                      </div>
                    
    
                </div>
                
            </div>
        </div>
        
        <div id="portafolio" class="content"> 
            <div class="subportafolio">
                <h2 class="portafolio_tittle"> Portafolio</h2>
                <div class="subcontent">

                    <div id="miCarrusel" class="carousel slide" data-ride="carousel">
                        <!-- Indicadores -->
                        <ul class="carousel-indicators">
                          <li data-target="#miCarrusel" data-slide-to="0" class="active"></li>
                          <li data-target="#miCarrusel" data-slide-to="1"></li>
                          <li data-target="#miCarrusel" data-slide-to="2"></li>
                        </ul>
                      
                        <!-- Imágenes del carrusel -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/static/images/pie.jpg" alt="Imagen 1" >
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/map.jpg" alt="Imagen 2">
                          </div>    
                          <div class="carousel-item">
                            <img src="/static/images/bg.jpg" alt="Imagen 3">
                          </div>
                        </div>
                      
                        <!-- Controles de navegación -->
                        <a class="carousel-control-prev" href="#miCarrusel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#miCarrusel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div> 
                
                
            </div>
        </div>


        <div id="contact" class="content">
            <h2 class="contact_tittle"> Contact</h2>
            <div class="contactClass">
                <div class="hero">
                    <form action="https://formspree.io/f/myyqbgve" method="post">
                        <div class="message-icon">
                            <i class="bi bi-telegram" style="color: aliceblue; ;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                </svg>
                            </i>
                            <span>Message</span>
                        </div>
                        <div id="input-field">
                            <i class="bi bi-person" style="color:aliceblue">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"style="margin-right: 15px;">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                  </svg>
                            </i>
                            <input type="text" placeholder="Name" name="Name">
                        </div>
                        <div id="input-field">
                            <i class="bi bi-envelope" style="color: aliceblue;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16" style="margin-right: 15px;">
                                    <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"></path>
                                    <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"></path>
                                </svg>
                            </i>
                            <input type="text" placeholder="Email Address" name="Email">    
                        </div>
                        <div id="input-field">
                            <i class="bi bi-chat-right-dots"style="color: aliceblue;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16"style="margin-right: 15px;">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                                  </svg>
                            </i>
                            <textarea name="Message" placeholder="Message" rows="5"></textarea>
                        </div>
                        <input type="submit" value="submit" class="send-btn">
                    </form>
                </div>
                
                <div class="Contactinfo">
                    <ul>
                        <!-- <li>
                            <div class="email">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16" style="margin-right: 15px;">
                                <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"></path>
                                <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"></path>
                                </svg>
                                alejamarino123@gmail.com
                            </div>                
                        </li> 
                        <hr style="background-color: white;"/>-->
                        
                        <li>
                            <div class="telephone">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16" style="margin-right: 15px;">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                                240 246 6877
        
                            </div>
                        </li>
                        <hr style="background-color: white;"/>
                        <li>
                            <div class="socialmedia">
                                <a href="https://www.linkedin.com/in/alejandra-mari%C3%B1o-parra-996040230/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-linkedin"  viewBox="0 0 16 16" style="margin-left: 60px;">
                                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                    </svg>
                                </a>
                                <a href="https://github.com/Ajela13" style="color: aliceblue;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" style="margin-left: 30px;">
                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                    </svg>
                                </a>
                                
                            </div>
                        </li>
                    </ul>                
                </div>
                
            </div>

        </div>
    </div>
      
    <script src="{% static 'js/scripts.js' %}"></script>
  
</body>
</html>
